<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level} %highlight{%logger{36}}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} - %highlight{%msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}"/>
        </Console>
        <File name="File" fileName="app.log">
            <PatternLayout pattern="[%date{YYYY-MM-dd HH:mm:ss.SSS}] [%-5level] [%t] [%C{1}.%M:%L] - %msg%n"/>
        </File>
<!--        <SplunkHttp-->
<!--            name="splunkhttp"-->
<!--            url="http://127.0.0.1:8088"-->
<!--            token="3c5ff5c0-d645-47ac-ba24-74b8d8125038"-->
<!--            index="maximillian-index"-->
<!--            type="raw"-->
<!--            source="source name"-->
<!--            sourceType="log4j"-->
<!--            messageFormat="text"-->
<!--            disableCertificateValidation="true">-->
<!--            <PatternLayout pattern="%m"/>-->
<!--    </SplunkHttp>-->
        <SplunkHttp
            name="splunkhttp"
            url="https://prd-p-q6oad.splunkcloud.com:8088"
            token="8a3fe92e-d2fe-46c3-8275-8c0b78b99a5d"
            index="main"
            type="event"
            source="source name"
            sourceType="log4j"
            messageFormat="json"
            disableCertificateValidation="true">
            <PatternLayout pattern="%m"/>
    </SplunkHttp>
    </Appenders>
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="splunkhttp"/>
        </Root>
    </Loggers>
</Configuration>
